trigger:
- develop
- feature/*
- hotfix/*
- master
- bugfix/*

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

stages:
  stage:
    steps:
    - script: dotnet build --configuration $(buildConfiguration)
      displayName: 'dotnet build $(buildConfiguration)'
    - script: dotnet test
      displayName: 'dotnet test'
